.navbar {
    background-color: #2B2B2B;
    height: 100px;
}

footer {
    margin-top: 10%;

}

.form-container {
    background: #F4EAE0;
    height: 130vh;
    padding-top: 10px;
    padding-bottom: 10%;
}

form {
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0 auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0;
}

h1 {
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin: 20px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #2B2B2B;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid #B3C890;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #B3C890;
}

.button {
    text-align: center;
    margin-top: 3%;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

input[type="submit"] {
    border-bottom: none;
}

input[type="submit"] {
    top: 30px;
    width: 90%;
    max-width: 200px;
    background: #E1AA74;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.form-error {
    font-size: 13px;
    color: #F45050;
    margin-top: 3px;
    display: none;
}

.success {
    color: #508D69;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
    display: none;
}

.warn {
    color: #F45050;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
    display: none;
    padding-top: 3px;
}
















/*----MEDIA QUERY-----------------------SMALL SCREEN THAT IS LESS THAN 853PX----------------------------------------*/
@media only screen and (max-width:853px) {

    .form-container {
        background: #F4EAE0;
        height: 110vh;
        padding-top: 5px;
        padding-bottom: 10%;
    }

    form {
        margin: 10vh auto 0 auto;
        padding: 30px;
    }

    form h1 {
        font-size: 22px;
    }

}